[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/kay404/clang.git
	branch = cdk
[submodule "tools/lld"]
	path = tools/lld
	url = https://github.com/kay404/lld.git
	branch = cdk
